:root {
  --color-white: #f0f0f2;
  --color-primary-feldgrau: #4e5f5f;
  --color-background-lavgray: #a8b5bf;
  --color-line-crayola: #a8b5bf;
  --color-primary-peru: #bf8641;
  --color-darker-feldgrau: #3f4c4c;
  width: 90vw;
  height: 90vh;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  font-size: 16px;
  width: 100%;
  height: 100%;
  line-height: 2rem;
}

nav.admin-nav {
  min-height: 2rem;
  padding: 0 13% 0 13%;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary-feldgrau);
}

.admin-nav-main-text {
  font-weight: 700;
}

.admin-nav-text {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--color-white);
  text-decoration: none;
}

.admin-nav-text:hover {
  border-bottom: 5px solid var(--color-primary-peru);
  cursor: pointer;
}

.background {
  width: 100%;
  height: 100%;
  min-height: 803px;
  display: flex;
  background-color: var(--color-background-lavgray);
  justify-content: center;
  align-items: center;
}

.admin-content-space {
  width: 75%;
  height: 90%;
  border-radius: 23px;
  background-color: var(--color-white);
}
.admin-table-space {
  display: flex;
  margin: 2rem;
  align-items: center;
  justify-content: center;
}

.admin-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20% 0 20%;
  padding: 2rem;
  color: var(--color-primary-feldgrau);
  border-bottom: 1px solid var(--color-primary-feldgrau);
}

.admin-title-container h1 {
  font-weight: 100;
  font-size: 50px;
  line-height: 1em;
}

.admin-table {
  border-collapse: collapse;
  font-size: 0.9em;
}

.admin-table thead tr {
  background-color: var(--color-darker-feldgrau);
  color: var(--color-white);
  text-align: left;
  font-weight: bold;
  line-height: 4rem;
}

.admin-table th,
.admin-table td {
  padding: 7px 35px;
}

.admin-table td {
  border-bottom: 1px solid var(--color-line-crayola);
}

.admin-upsert-space {
  margin: 2rem 10% 0 10%;
}

.admin-upsert-space div {
  line-height: 3rem;
}

span.error-message {
  margin-left: 1rem;
  color: red;
  font-size: 0.8rem;
}

input:invalid ~ span.error-message {
  display: inline;
}
