:root {
  --color-white: #f0f0f2;
  --color-primary-feldgrau: #4e5f5f;
  --color-background-lavgray: #a8b5bf;
  --color-line-crayola: #a8b5bf;
  --color-primary-peru: #bf8641;
  --color-darker-feldgrau: #3f4c4c;
}

.admin-panel-options {
  border: 2px solid #ccc;
  border-radius: 15px;
  margin: 10px 0;
}

.admin-content-space {
  border-radius: 23px;
  background-color: var(--color-white);
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

admin-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20% 0 20%;
  padding: 2rem;
  color: var(--color-primary-feldgrau);
  border-bottom: 1px solid var(--color-primary-feldgrau);
}

nav.admin-nav {
  color: var(--color-white);
  min-height: 2rem;
  padding: 0 13% 0 13%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary-feldgrau);
}

.admin-nav-main-text {
  font-weight: 700;
}

.admin-nav-text {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--color-white);
  text-decoration: none;
}

.admin-nav-text:hover {
  border-bottom: 5px solid var(--color-primary-peru);
  cursor: pointer;
}

.admin-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20% 0 20%;
  padding: 2rem;
  color: var(--color-primary-feldgrau);
  border-bottom: 1px solid var(--color-primary-feldgrau);
}

.admin-title-container h1 {
  font-weight: 100;
  font-size: 50px;
  line-height: 1em;
}

.admin-panel-options {
  display: flex;
  align-items: end;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.admin-panel-options-title {
  margin: 15px;
  font-weight: bold;
}

.admin-panel-options-title h2 {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--color-primary-feldgrau);
}

.admin-container-buttons {
  display: flex;
  flex-direction: column;
}

.admin-panel-options h3 a {
  display: block;
  text-align: center;
  padding: 0 20%;
  width: 100%;
  height: 100%;
  font-weight: 200;
}

.admin-panel-options h3 {
  margin: 5px 15px;
  background-color: var(--color-primary-feldgrau);
  color: var(--color-white);
  border-radius: 8px;
  cursor: pointer;
  width: 10rem;
  line-height: 3rem;
  font-size: 1rem;
}

.admin-panel-options h3 a {
  color: var(--color-white);
  text-decoration: none;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1% 0;
  background-color: var(--color-background-lavgray);
  height: 100%;
  min-height: 90vh;
}

.admin-table-space {
  display: flex;
  margin: 2rem;
  align-items: center;
  justify-content: center;
}

.admin-table {
  border-collapse: collapse;
  font-size: 0.9em;
}

.admin-table thead tr {
  background-color: var(--color-darker-feldgrau);
  color: var(--color-white);
  text-align: left;
  font-weight: bold;
  line-height: 4rem;
}

.admin-table th,
.admin-table td {
  /* padding: 7px 35px; */
  height: 75px;
}

.admin-table td {
  border-bottom: 1px solid var(--color-line-crayola);
}

.dict-delete-icon,
.dict-edit-icon {
  cursor: pointer;
}

.admin-upsert-submit,
.admin-upsert-cancel,
.admin-table-cancel {
  grid-column: 1 / -1;
  padding: 10px 20px;
  background-color: var(--color-primary-feldgrau);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 8rem;
}

.admin-table-cancel {
  margin: 10px 0 20px 30px;
}
